.services {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: contain;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: center; /* 필요에 따라 레이아웃 조정 */
  }
  .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  
  
  
  .service-card1,.service-card2,.service-card3,.service-card4 {
    display: flex;
    flex-direction: column; /* 세로 방향으로 요소들을 배치 */
    align-items: center; /* 가로 방향에서 중앙 정렬 */
    background-color: #fffefed5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 600px;
    max-height: 300px;
    width: calc(50% - 10px); /* 2개씩 나열이기 때문에 너비 조정 */
    margin-bottom: 20px; /* 각 카드 사이의 간격을 조정 */
  }
  .service-card1{
    background-color: #1648b2d5;
  }
  .service-card2{
    background-color: white;
    border: 2px solid black; /* 테두리 두께 2px, 검은색 테두리 */
  }
  .service-card3{
    background-color: white;
    border: 2px solid black; /* 테두리 두께 2px, 검은색 테두리 */
  }
  .service-card4{
    background-color: black;
  }
  
  .parent-container {
    margin-bottom: 0px; /* 원하는 크기로 간격을 조정 */
  }
  .service-row1 {
    display: flex;
    justify-content: center; /* 필요에 따라 레이아웃 조정 */
    width: 100%;
    max-width: 1200px; /* 바둑판 모양이기 때문에 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬을 위해 필요한 경우 설정 */
  }
  .service-row2 {
    display: flex;
    justify-content: center; /* 필요에 따라 레이아웃 조정 */
    width: 100%;
    max-width: 1200px; /* 바둑판 모양이기 때문에 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬을 위해 필요한 경우 설정 */
  }
  
  .service-card1,.service-card2,.service-card3,.service-card4{
    margin: 10px 10px;
  }
  .service.title{
    font-size: 20px;
  }
  
  .p1{
    font-size: 15px;
    margin-top: 30px;
    font-family: 'Nanum Square' sans-serif;
  }
  .pp1{
    font-size: 60px;
    margin-top: 10px;
  }
  .ppp1{
    font-size: 15px;
    margin-top: 5px;
  }
  .pppp1{
    font-size: 20px;
    line-height: 2;
    margin-top: 20px;
  }
  .p2{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 10px;
  }
  .pp2,.ppp2{
    font-size: 15px;
    line-height: 2;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .pp3{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
  }
  .p3,.ppp3,.pppp3{
    font-size: 15px;
    line-height: 2;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .p4{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 10px;
  }
  .pp4,.ppp4,.pppp4{
    font-size: 15px;
    line-height: 2;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
   h2 {
    color: #333;
  }
  .service-card4 h2{
    color: rgb(186, 184, 182);
  }
  
  
  p {
    color: #010101;
  }
  .service-card1 p{
    color: #fff;
  }
  .service-card4 p{
    color: white;
  }